h1, h2 {
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}
input {
    width: 100%;
    text-transform: capitalize;
}

#add {
    width: 100%;
    text-transform: capitalize;
    margin: 0;
}

h2, section {
    border: 1px solid black;
    text-align: center;
}


.col-sm-4, .col-sm-8 {
    padding: 0;
}

section {
    min-height: 36em;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

span{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 4em;
}

#encours button {
    text-transform: capitalize;
    margin-top: 2em;
    min-width: 60%;
    align-self: center;
    min-height: 3em;
}
p{
    margin: 0;
}

#done p{
    min-height: 4em;
    line-height: 4em;
}
#encours div{
    max-width: 80%;
    min-width: 80%;
    min-height: 5em;
    border: 2px solid black;
    border-radius: 5px;
    align-self: center;
    margin-top: 3em;
}

#done p:first-child{
    margin-top: 3em;
}

section span:first-child{
    margin-top: 3em;
}
