h1, h2 {
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}
#newtask {
    width: 100%;
    text-transform: capitalize;
}

#add {
    width: 100%;
    text-transform: capitalize;
    margin: 0;
}
#premiertitre{
    border-left: 2px solid black;
}
h2 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

section {
    border: 1px solid black;
    text-align: center;
}
.footpath {
  background: white;
  color: black;
  line-height:1.2;
  //border: thin solid #000000;
  width: 100%;

  /* added */
  display: inline-block;
  position: relative;
  margin-right: .65em;
  /* make some space for the pointy bit */
  -webkit-filter:drop-shadow(1px 1px 1px black);
}
.footpath:after {
  content:"";
  position: absolute;
  top:0;
  left:100%;
  width:0;
  height:0;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;
  border-left-color:black;
  /* the opposite of the pointing direction */
  border-top-width:1.6rem;
  border-right-width:2.6rem;
  border-bottom-width:1.6rem;
  border-left-width:1.6rem;
  border-style:solid;
}

.col-sm-4, .col-sm-8 {
    padding: 0;
}

section {
    min-height: 36em;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#todo .task{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 4em;
}

#start, #pause {
    text-transform: capitalize;
    margin-top: 2em;
    min-width: 60%;
    align-self: center;
    min-height: 3em;
}
.task{
    margin: 0;
}

#done .task{
    min-height: 4em;
    line-height: 4em;
}
#doing #timer{
    max-width: 80%;
    min-width: 80%;
    min-height: 5em;
    border: 2px solid black;
    border-radius: 5px;
    align-self: center;
    margin-top: 3em;
}

section .task:first-child{
    margin-top: 3em;
}

li {
    list-style: none;
}
